// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.featured-photo img {
  display: block;
  margin: 0 auto;
}

.selected-photo {
  border: dotted 3px blue;
  float: left;
}

.photo {
  margin: 5px;
  float: left;
  max-width: 120px;
  max-height: 120px;
}

.arrow-left {
  margin: 175px auto;
}

.arrow-right {
  margin: 175px auto;
}
