// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.featured-photo {
  display: block;
  margin: 0 auto;
}

.selected-photo {
  border: dotted 3px blue;
  float: left;
}

.photo {
  margin: 5px;
  float: left;
  max-width: 120px;
  max-height: 120px;
}

.arrow-left, .arrow-right {
  position: relative;
  margin: auto;
  top: 320px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.glyphicon {
  font-size: 200%;
}
